{% extends "base.html" %}

{% block body %}
<div class="container-fluid-cook">
    <div class="row">
      <div class="col-lg-8">   	
		<div class="panel panel-primary">
			<div class="panel-heading">
				<p class="panel-title">Menu am : {{ menu.get_date_as_string }} - {{ menu.dish.title }}</p>  
			</div>
			<div class="panel-body">
				<table class="table">
			        <thead>
			          <tr>
			            <th>Esser</th>
			            <th class="hidden-sm hidden-xs">angemeldet</th>
						<th>Wahl</th>
			            <th class="hidden-sm hidden-xs">Preis</th>			           
			          </tr>
			        </thead>
					<tbody>
					{% if  menu.booking %}		
					{% for booking in menu.booking %}
					<tr>
						<td>{{ booking.eater.display_name }} </td>
						<td class="hidden-sm hidden-xs">{{ booking.get_formated_date }}</td>
						<td>{{ booking.get_vegetarian }}</td>
						<td class="hidden-sm hidden-xs">{{ booking.eater.price_to_pay }} €</td>				
					</tr>	
					{% endfor %}
					<tr class="hidden-sm hidden-xs">
						<td><h3>Gesamt : {{ menu.get_sum}} € </h3></td>
						<td></td>
			        	<td></td>
			        	<td><h3>{{ menu.booking|length}} </h3></td>
					</tr>
					{% endif %}
					</tbody>
				</table>				
			</div>
			<div class="panel-footer">
				<form method="post" name="Mahlzeit" action="{% url action="mahlzeit" %}">
					<input type="hidden" name="menu-id" value="{{ menu.id }}">
			        <input type="submit" class="btn btn-primary btn-mini" value="Mahlzeit!">
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="panel panel-primary hidden-sm hidden-xs">
			<div class="panel-heading">
				<p class="panel-title">Verspätete Esser</p>  
			</div>
			<div class="panel-body">		
				<form method="post" action="{% url action="add_eater" id=menu.id %}">
					<p>
			    		<select name="esser" >
				  		{% for eater in eaters %}
			      			<option value="{{eater.id}}">{{eater.name}} {{eater.forename}}</option>
				  		{% endfor %}
			    		</select>
			  		</p>
			  		<input type="submit" class="btn btn-small" value="Hinzufügen">			  		
				</form>
			</div>
		</div>
		{% if requesters %}		
		<div class="panel panel-danger">
			<div class="panel-heading">
				<p class="panel-title">Anfragen</p>  
			</div>
			<div class="panel-body">	
					<form method="post" action="{% url action="handle_requester" id=menu.id %}">
						<p>
				   			<select name="esser">
				  			{% for requester in requesters %}
			      				<option value="{{requester.id}}">{{requester.display_name}}</option>
				  			{% endfor %}
			    			</select>
						</p>
				  		<button type="submit" class="btn btn-small" name="button" value="hinzufuegen">Hinzufügen</button>
				  		<button type="submit" class="btn btn-danger btn-small" name="button" value="ablehnen">Ablehnen</button>
					</form>
			</div>
		</div>		
		{% endif %}
		<div class="panel panel-primary hidden-sm hidden-xs">
			<div class="panel-heading">
				<p class="panel-title">Gäste</p>  
			</div>
			<div class="panel-body">		
        		<form method="post" action="{% url action="add_guest" id=menu.id %}">
            		<p>
		                <select name="guest_count" >                  
		                    <option value="0">0 x Gast</option>
		                    <option value="1">1 x Gast</option>
		                    <option value="2">2 x Gast</option>
		                    <option value="3">3 x Gast</option>
		                    <option value="4">4 x Gast</option>
		                    <option value="5">5 x Gast</option>
		                    <option value="6">6 x Gast</option>
		                    <option value="7">7 x Gast</option>
		                    <option value="8">8 x Gast</option>
		                    <option value="9">9 x Gast</option>
		                    <option value="10">10 x Gast</option>
		                </select>
		            </p>
					<input type="submit" class="btn btn-small" value="Hinzufügen">
        		</form>
        	</div>
        </div>
        <div class="panel panel-primary hidden-sm hidden-xs">
			<div class="panel-heading">
				<p class="panel-title">Praktikanten</p>  
			</div>
			<div class="panel-body">	        
        		<form method="post" action="{% url action="add_praktikant" id=menu.id %}">
            		<p>
		                <select name="praktikant_count" >                  
		                    <option value="0">0 x Praktikant</option>
		                    <option value="1">1 x Praktikant</option>
		                    <option value="2">2 x Praktikant</option>
		                    <option value="3">3 x Praktikant</option>
		                    <option value="4">4 x Praktikant</option>
		                    <option value="5">5 x Praktikant</option>
		                    <option value="6">6 x Praktikant</option>
		                    <option value="7">7 x Praktikant</option>
		                    <option value="8">8 x Praktikant</option>
		                    <option value="9">9 x Praktikant</option>
		                    <option value="10">10 x Praktikant</option>
		                </select>
					</p>
					<input type="submit" class="btn btn-small" value="Hinzufügen">
        		</form>
			</div>
		</div>
		<div class="panel panel-primary hidden-sm hidden-xs">
			<div class="panel-heading">
				<p class="panel-title">Ausgegebene Speisen</p>  
			</div>
			<div class="panel-body">		
				<form method="post" action="{% url action="add_count_given" id=menu.id %}">
					<div class="form-group">
						<div class="controls">
							<input type="text" name="count_given" value="{{ menu.count_given | default : 0 }}">
						</div>
					</div>
					<input type="submit" class="btn btn-small" value="Hinzufügen">
				</form>
			</div>
		</div>
  	</div>
</div>
</div>
{% endblock %}