{% extends "base.html" %}

{% block body %}
<div class="container">
<div class="row">
  <div class="span9">
    <div class="well">
      <table class="table">
        <thead>
          <tr>
	        <th>Datum</th>
            <th>Speise</th>
            <th>max.</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% if menus %}
          {% for menu in menus %}
          <tr id="/admin/{{ menu.id }}">
            <td>{{ menu.get_date_as_string }}</td>
            <td>{{ menu.dish.title }}</td>
            <td>{{ menu.slots}}</td>
          </tr>
          <tr class="details">
            <td colspan="4">{{ menu.dish.details }}</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="span3">
	{% include "dish/edit.html" %}
  </div>
</div>
</div>
{% endblock %}
