{% extends "base.html" %}
{% block body %}
<div class="container">
<div class="row-fluid">
  <div class="span8">
    <div class="well">
      <table class="table">
        <thead>
          <tr>
	        <th>Datum</th>
            <th>Speise</th>
            <th>max.</th>
			<th>Anmeldungen</th>
            <th>Vegetarier</th>
            <th>Anfragen</th>
            <th></th>			
          </tr>
        </thead>
        <tbody>
	
          {% if menus %}
          {% for menu in menus %}
          <tr id="/admin/{{ menu.id }}">
            <td>	
              <a href="/admin/detail/{{ menu.id }}">{{ menu.get_date_as_string }}</a>
            </td>
            <td>{{ menu.dish.title }}</td>
            <td>{{ menu.slots}}</td>
            <td>{{ menu.booking|length}}</td>
            <td>			
				<a href="#">{{ menu.get_vegetarian_eater|length }}</a>
			</td>
			<td>
				<a href="#">{{ menu.get_request_count|length }}</a>
			<td>
				<a href="/admin/edit/{{ menu.id }}">bearbeiten</a>	
        	</td>
			<td>
        	<form method="post" name="Storno" action="{% url action="storno" %}">
				<input type="hidden" name="menu-id" value="{{ menu.id }}">
        		<input type="submit" class="btn btn-danger btn-mini" value="Absagen">
			</form>
			</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="span4">
	{% include "dish/create.html" %}
  </div>
</div>
</div>
{% endblock %}
