{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
      <div class="col-xs-8">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Menüs</h2>  
          </div>
          <div class="panel-body">
            <table class="table" id="table_id" width="100%">
              <thead>
                <tr>
      	        <th>Datum</th>
                  <th>Speise</th>
                  <th>max.</th>
                  <th>Anmeldungen</th>
                  <th>Vegetarier</th>
                  <th>Anfragen</th>
                  <th></th>                  			
                  <th></th>   
                  <th></th>   
                </tr>
              </thead>
              <tbody>
                {% if menus %}
                {% for menu in menus %}
                <tr id="{{_base_url}}/admin/{{ menu.id }}">
                  <td><a href="{{ _base_url }}/admin/detail/{{ menu.id }}">{{ menu.get_date_as_string }} ({{menu.get_day_as_string}})</a></td>
                  <td>{{ menu.dish.title }}</td>
                  <td>{{ menu.slots}}</td>
                  <td>{{ menu.booking|length}}</td>
                  <td>{{ menu.get_vegetarian_eater|length }}</td>
                  <td>{{ menu.get_request_count }}<td>
                  <td><a class="btn btn-primary btn-xs" href="{{ _base_url }}/admin/edit/{{menu.id}}">Edit</a></td>
                  <td>
                    <form method="post" name="Storno" action="{% url action="storno" %}">
                      <input type="hidden" name="menu-id" value="{{ menu.id }}">
              		    <input type="submit" class="btn btn-danger btn-xs" value="Storno">
                    </form>
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
            <div class="panel-footer">
                <form method="post" name="ReadyMail" action="{% url action="readyMail" %}">            
                  <input type="submit" class="btn btn-primary" value="Mail senden, dass gebucht werden kann">
                </form>
          </div>   
        </div>
      </div>
    </div>
	{% include "dish/create.html" %}
  </div>
</div>
{% endblock %}
