{erl_opts, [debug_info]}. %, fail_on_warning]}.
{plugins, [boss_plugin]}. 
{plugin_dir, ["priv/rebar"]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.
{lib_dirs, ["deps"]}.

{deps, [
    {boss, ".*", {git, "git://github.com/ChicagoBoss/ChicagoBoss.git", {tag, "v0.8.12"}}},
	  {erlcron, ".*", {git, "git://github.com/erlware/erlcron.git", "HEAD"}},
	  {apns, ".*", {git, "git@github.com:ulfa/apns4erl.git","HEAD"}},
    {speiseplan_interface, ".*", {git, "git@github.com:ulfa/speiseplan_interface.git","HEAD"}}
  ]}.
