

- Löschen von Essern aus der Admin Sicht.
- Rechnungslauf für alle Esser und einen Monat 
- init Admin in DB erstellen
- Ein Tag vorher, aber bis max. 15:00 Uhr. 

	Beispiel :

	Essen       : 2012-09-09 12:00
	Buchung     : 2012-09-09 16:00 
	-> Buchung nicht mehr möglich, da Differenz < 20 Stunden
	Es darf eine Differenz von 21 Stunden sein
	

- Wie hoch sind meine Kosten für den eingebenen Zeitraum (Esser)? 
- Anja Mail schicken, wenn Esser gebucht haben.

- Stornierung nicht möglich 24 Stunden. Ein Tag vorher, aber nur bis 15:00 Uhr
	http://schemecookbook.org/Erlang/TimeToEpoch
	
	Beispiel :
	
	Essen       : 2012-09-09 12:00
	Stornierung : 2012-09-08 16:00
	
	-> nicht mehr möglich, da Differenz < 24 Stunden
	
	
	
- Raspberry Pi aufsetzen

Fertige Aufgaben

- Nach Datum sortieren. (absteigend) (fertig)
- Modelle auf Erland Date/Time umbauen (fertig)
- Refactoring der Datum Werte im Booking. ... müssen Datum und Zeit enthalten.(fertig)
- Infos über andere Teilnehmer aus Speiseplan Ansicht entferne (fertig)
- Infos über Teilnehmer in Admin Ansicht einbauen (fertig)
- Mail an aller Esser eines Tages, dass das Essen ausfällt (fertig)
- Nachträgliches Hinzufügen von Essern, aber nur durch den Admin (Anja) (fertig)
- Bearbeitung von Einträgen. Speisen und Esser (fertig)
- Bearbeitung von Einträgen.  Esser (fertig)
- Liste der Esser, die vegetarisches Essen bestellt haben anzeigen. (fertig) 
- Registrierungs Seite einbauen. (fertig)
- Refactoring: Login in eigenen Controller auslagern. (fertig)
- Anzeige der Esser, die vegetarisch gebucht haben. (fertig)

Listen 

- Liste der Teilnehmer von aktuellen Tag plus 5 leerer Felder für Nachzügler.
- Umsatz von einem Monat, gegliedert in Tagen.
  Beispiel:
  Von 01.01.2012 - 30.01.2012
  
  Datum       Anzahl Teilnehmer Einnahmen
  01.01.2012        10            300

  Gesamt:                         300  

BUGS

- Nach dem Löschen eines Menus wird die index Seite nicht richtig refreshed

