<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Anja's Kiez Kantine</title>
  <!--link rel="shortcut icon" href="favicon.ico"-->
  <link rel="stylesheet" href="{{ _base_url }}/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ _base_url }}/static/css/main.css">
  <link rel="stylesheet" href="{{ _base_url }}/static/css/kalendae.css">
  <link rel="stylesheet" href="{{ _base_url }}/static/css/bootstrap-responsive.min.css">
  <script src="{{ _base_url }}/static/js/jquery.min.js"></script>
  <script src="{{ _base_url }}/static/js/bootstrap.min.js"></script>
  <script src="{{ _base_url }}/static/js/kalendae.min.js"></script>
  <script src="{{ _base_url }}/static/js/application.js"></script>
  <script src="{{ _base_url }}/static/js/highcharts.js"></script>
  <script src="{{ _base_url }}/static/js/exporting.js"></script>
</head>
	<body>
	 <div class="container">	
		<div class="navbar">
		  <div class="navbar-inner">
			 <div class="container">	
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>			  
				<div class="board">			
		    		<a class="brand" href="{{ _base_url }}"><h5>iCook</h5></a>			
				</div>
				<div class="nav-collapse in collapse" style="height: auto;">	
		    	  <ul class="nav">                      
					  <li class="divider-vertical"></li>
					  {% if eater %}
					  <li><a href="{{ _base_url }}/booking/index">Booking</a></li>
					  <li><a href="{{ _base_url }}/booking/billing/{{eater.id}}">Bill</a></li>								
					  {% endif %}
					  <li class="divider-vertical"></li>
					  {% if eater.admin == "true" %}	
						<li><a href="{{ _base_url }}/admin/index">Menu</a></li>
						<li class="divider-vertical"></li>
						<li><a href="{{ _base_url }}/dish/index">Speisen</a></li>
						<li class="divider-vertical"></li>
						<li><a href="{{ _base_url }}/eater/index">Esser</a></li>
						<li class="divider-vertical"></li>
						<li><a href="{{ _base_url }}/note/index">Notes</a></li>
						<li class="divider-vertical"></li>
						<li><a href="{{ _base_url }}/billing/index">Billing</a></li>						
						<!--li class="divider-vertical"></li>
						<li><a href="/analysis/index/2012">Auswertung</a></li-->
						{% endif %}
						{% if eater %}
						<li class="divider-vertical"></li>
						<li><a href="{{ _base_url }}/selfadmin/edit/{{eater.id}}">{{eater.display_name}}</p></a></li>
						{% else %}			

						{% endif %}
		    		</ul>
			</div>
		</div>
	</div>

		{% if errors %}
		<div class="container">
			<p class="alert alert-error">
				{% for error in errors %}
					{{ error }}<br/>
				{% endfor %}
			</p>
		</div>
		{% endif %}

      {% block body %}{% endblock %}
  </div>
</body>
</html>
