{% extends "base.html" %}
{% block body %}
<div class="container">
	<form method="post" action="{% url action="search" %}" class="form-search well">        
		<input type="text" name="from_date" value="{{ from_date }}" placeholder="Von Datum" class="auto-kal">
		<input type="text" name="to_date" value="{{ to_date }}" placeholder="Bis Datum" class="auto-kal">
		<input type="submit" class="btn btn-small btn-primary" value="Suche">
	</form>
</div>

{% if csvfiles %}
<div class="container">
	<div class="well">
		<h3>CSV Dateien</h3>
		{% for csvfile in csvfiles %}
			<ul class="unstyled">
				<li><a href="/static/billing/{{ csvfile }}">{{ csvfile }}</a></li>
			</ul>
		{% endfor %}
	</div>
</div>
{% endif %}
{% if billings %}
<div class="container">
	<div class="well">
		<h3>Details fuer den eingebenen Zeitraum</h3>
		<ul>
			{% for name, intern, dates in billings %}
			<li>{{ name }} {{ intern }}</li>
			<ul>
				{% for date in dates %}
				<li>{{ date }}</li>
				{% endfor %}				
				Summe : 0.0 €
			</ul>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif%}
{% endblock %}