{% extends "base.html" %}

{% block body %}
<div class="well">
	<form method="post" action="{% url action="search" %}" class="form-search">        
		<input type="text" name="from_date" value="{{ from_date }}" placeholder="Von Datum" class="auto-kal">
		<input type="text" name="to_date" value="{{ to_date }}" placeholder="Bis Datum" class="auto-kal">
		<input type="submit" class="btn" value="Suche">
	</form>
</div>

{% if billings %}

<ul>
{% for name, dates in billings %}
<li>{{ name }}</li>
	<ul>
	{% for date in dates %}
		<li>{{ date }}</li>
	{% endfor %}
	</ul>
{% endfor %}
</ul>
{% endif%}
{% endblock %}