<form method="post" action="{% url action="create" %}" class="well">        
	<label>Speise<input type="text" name="title" placeholder="Linsensuppe" required value="{{ menu.dish.title | default: ''}}"></label>
	<label>Details<textarea name="details" rows="4" placeholder="mit einer Wurst" required>{{menu.dish.details | default: ''}}</textarea></label>
	<label>Datum<input type="text" name="date" class="auto-kal" placeholder="2012-10-01" required value="{{menu.get_date_as_string|default: ''}}"></label>
	<label>max.<input type="number" name="slots" min="1" required value="{{menu.slots|default: 1}}"></label>
	<label><input type="checkbox" name="vegetarian" value="true">auch vegetarisch</label>
	<input type="submit" class="btn btn-primary btn-mini" value="Hinzufügen">
</form>
