
	<div class="col-xs-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Bearbeiten</h2>  
            </div>
            <div class="panel-body">
				<form method="post" action="{% url action="update" %}">      
					<input type="hidden" name="id" value="{{ menu.id | default: undefined}}">     
					<div class="form-group">
						<label>Speise</label>     
						<div class="controls">       
							<input class="form-control col-md-8" type="text" name="title" placeholder="Linsensuppe" required value="{{ menu.dish.title | default: ''}}">
	                    </div>
	                </div>
	                <div class="form-group">
						<label>Details</label>     
						<div class="controls">           
							<textarea class="form-control col-md-8" name="details" rows="4" placeholder="mit einer Wurst" required>{{menu.dish.details | default: ''}}</textarea>                   
	                    </div>
					</div>
					<div class="form-group">
						<label>Datum</label>     
						<div class="controls">       
	                        <input type="text" name="date" class="auto-kal" placeholder="2012-10-01" required value="{{menu.get_date_as_string|default: ''}}">                      
	                    </div>
					</div>   
					<div class="form-group">
						<label>max.</label>     
	                    <div class="controls">       
							<input class="form-control col-md-8" type="number" name="slots" min="1" required value="{{menu.slots|default: 1}}">
	                    </div>
	                </div>  
					<div class="form-group">                        
						<div class="controls">       
							<input  type="checkbox" name="vegetarian" value="true"> auch vegetarisch                        
	                    </div>
	                </div> 
					<div class="panel-footer">
						<input type="submit" class="btn btn-primary btn-mini" value="Speichern">
					</div>
				</form>
			</div>
		</div>
	</div>

