{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-7">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Speisen</h2>  
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Titel</th>
              <th>Details</th>
              <th>vegetarisch</th>
            </tr>
          </thead>
          <tbody>			
          {% if dishes %}
          {% for dish in dishes %}
          <tr id="{{ dish.id }}">
            <td>
              {{ dish.title}}
              <!--a href="{{ _base_url }}/edit/{{ dish.id }}">{{ dish.title}}</a -->
            </td>
            <td>{{ dish.details }}</td>
            <td>{{ dish.vegetarian }}</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
