{% extends "base.html" %}
{% block body %}
<center>
<div class="container">
	<form method="post" action="{% url action="billing" %}" class="form-search">        		
		<input type="text" name="from_date" value="{{ from_date }}" placeholder="Von Datum" class="auto-kal">
		<input type="text" name="to_date" value="{{ to_date }}" placeholder="Bis Datum" class="auto-kal">
		<input type="submit" class="btn btn-small" value="Suche">
	</form>
</div>
</center>

{% if billings %}
<div class="container">
	<div class="board">
		<h2>Rechnung</h2>		
		<table class="table">
			<thead>
				<tr>
					<th>Datum</th>
					<th>Preis</th>
				</tr>
			</thead>
			<tbody>						
			{% for date, price in billings %}
			<tr>		
				<td>{{ date }}</td> 
				<td>{{ price }} €</td>
			</tr>	
			{% endfor %}
		</tbody>	
	</table>
	<h2>Du musst {{sum}} € zahlen </h2>
	</div>
</div>
{% endif %}
{% endblock %}