{% extends "base.html" %}
{% block body %}
<center>
<div class="container">
	<form method="post" action="{% url action="billing" %}" class="form-search">        		
		<input type="text" name="from_date" value="{{ from_date }}" placeholder="Von Datum" class="auto-kal">
		<input type="text" name="to_date" value="{{ to_date }}" placeholder="Bis Datum" class="auto-kal">
		<input type="submit" class="btn btn-small" value="Suche">
	</form>
</div>
</center>

{% if billings %} 
<div class="container">
	<div class="board">
		<h2>Rechnung</h2>		
			<h2>Datum Menu Preis</h2>
			<hr/>			
			{% for date, title, price in billings %}
			<h3>{{ date }} {{title}} {{ price }} €</h3>
			{% endfor %}

			<hr/>
	<h2>zu zahlen : {{sum}} € </h2>
	</div>
</div>
{% endif %}
{% endblock %}