{% extends "base.html" %}

<!-- Index side of the booking interface-->

{% block body %}

<p class="alert alert-info">
    Bei Fragen oder Anregungen wendet euch bitte an
    <a href="mailto:anja.angermann@innoq.com">Anja</a>
</p>
<p class="alert alert-info">
    Bitte meldet euch verbindlich bis Freitag um 24 Uhr für die darauf
    folgende Woche an: nach dieser Zahl wird Anja Ihre Einkäufe tätigen.
    Wenn durch Krankheit oder Kundentermine das Essen nicht in Anspruch
    genommen werden kann, sollte möglichst kurzfristig, spätestens jedoch am
    Vortag, storniert werden. Die dadurch frei gewordenen Essen können dann
    an Interessenten "weitergegeben" werden.
</p>

<div class="row">
  <div class="span12">
    <h2>Aktuelle Termine</h2>
    <div class="well">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Datum</th>
            <th>Speise</th>
            <th>Details</th>
            <th>Slots</th>
            <th>Aktion</th>
          </tr>
        </thead>
        <tbody>			
          {% if menus %}
          {% for menu in menus %}
          <tr id="{{ menu.id }}">	
			<td>{{ menu.get_date_as_string }}</td>    
        	<td>{{ menu.dish.title }}</td>			
            <td>{{ menu.dish.details }}</td>
            <td>{{ menu.get_slot_count }}</td>
            <td>	
				{% if eater.id in menu.get_all_eater %}						
					<form method="post" action="{% url action="delete" %}">
						<input type="hidden" name="eater-id" value="{{ eater.id }}">
            			<input type="hidden" name="menu-id" value="{{ menu.id }}">            			
						<input type="submit" class="btn btn-warning" value="Stornieren">
					</form>				
				{% elif menu.get_slot_count > 0%}
						<form method="post" action="{% url action="book"%}">
	            			<input type="hidden" name="eater-id" value="{{ eater.id }}">
	            			<input type="hidden" name="menu-id" value="{{ menu.id }}">
							{% if menu.dish.vegetarian %}
	            			<label>
	              				<input type="checkbox" name="vegetarian" value="true">
	              				vegetarisch
	            			</label>
							{% endif %}
	            			<input type="submit" class="btn btn-primary" value="Buchen">				
	          			</form>
				{% else %}
						<form method="post" action="{% url action="request"%}">
	            			<input type="hidden" name="eater-id" value="{{ eater.id }}">
	            			<input type="hidden" name="menu-id" value="{{ menu.id }}">
							<input type="submit" class="btn btn-danger" value="Anfrage an Küchenbulle">
						</form>
				{% endif %}
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
