{% extends "base.html" %}

<!-- Index side of the booking interface-->

{% block body %}

<!--div class="container">
<p class="alert alert-info">
    Bei Fragen oder Anregungen wendet euch bitte an
    <a href="mailto:anja.angermann@innoq.com">Anja</a>
</p>
<p class="alert alert-info">
    Bitte meldet euch verbindlich bis Freitag um 24 Uhr für die darauf
    folgende Woche an: nach dieser Zahl wird Anja Ihre Einkäufe tätigen.
    Wenn durch Krankheit oder Kundentermine das Essen nicht in Anspruch
    genommen werden kann, sollte möglichst kurzfristig, spätestens jedoch am
    Vortag, storniert werden. Die dadurch frei gewordenen Essen können dann
    an Interessenten "weitergegeben" werden.
</p>
</div-->


{% if menus %}
<div class="container">
<div class="container">
	<div class="board">
		<h1>Speiseplan</h1>
	</div>
</div>
{% for menu in menus %}

<div class="container">
<div class="board">
<div class="row-fluid">
<div class="span4">
	<br>
</div>	
<div class="span4">
	<p>
	<h2>{{ menu.get_date_as_string }}</h1>
	<h3>{{ menu.dish.title }}</h3>	
	<h3>{{ menu.dish.details }}</h3>
	</p>
	{% if eater.id in menu.get_all_eater and menu.is_in_time %}						
		<form method="post" action="{% url action="storno" %}">
			<input type="hidden" name="eater-id" value="{{ eater.id }}">
			<input type="hidden" name="menu-id" value="{{ menu.id }}">            			
			<input type="submit" class="btn btn-warning btn-middle" value="Stornieren">
		</form>				
	{% elif menu.get_slot_count > 0 and menu.is_in_time %}
			<form method="post" action="{% url action="book"%}">
    			<input type="hidden" name="eater-id" value="{{ eater.id }}">
    			<input type="hidden" name="menu-id" value="{{ menu.id }}">
				{% if menu.dish.vegetarian %}
    			<label>
      				<input type="checkbox" name="vegetarian" value="true">
					<h9>vegetarisch</h9>
    			</label>
				{% endif %}
    			<input type="submit" class="btn btn-primary btn-middle" value="Buchen">				
  			</form>
	{% elif menu.is_in_time  %}
			<form method="post" action="{% url action="request"%}">
    			<input type="hidden" name="eater-id" value="{{ eater.id }}">
    			<input type="hidden" name="menu-id" value="{{ menu.id }}">
				<input type="submit" class="btn btn-warning btn-middle" value="Anfrage">
			</form>
	{% else %}
	<h4>gegessen</h4>
	{% endif %}
</div>
</div>
</div>
</div>

{% endfor %}
{% endif %}

</div>
{% endblock %}
