{% extends "base.html" %}
<!-- Index side of the booking interface-->

{% block body %}
{% if menus %}
<div id="scroller" class="container">
<div class="container">
	<div class="board">
		<!--h1>Speiseplan KW. {{ week }}</h1 -->
		<h1>Speiseplan</h1>
	</div>
</div>
{% for menu in menus %}

<div class="container">
<div class="board">
<div class="row-fluid">
<div class="span4">
	<br>
</div>	
<div class="span4">
	<p>
	<h2>{{ menu.get_date_as_string }}</h2>
    <h5><a href="#" class="link white" data-original-title="{{menu.get_all_eater_names}}">({{ menu.get_day_as_string }})</a></h5>
	<h3>{{ menu.dish.title }}</h3>	
	<h3>{{ menu.dish.details }}</h3>
	</p>
	{% if eater.id in menu.get_all_eater and menu.is_in_time %}						
		<form method="post" action="{% url action="storno" %}">
			<input type="hidden" name="eater-id" value="{{ eater.id }}">
			<input type="hidden" name="menu-id" value="{{ menu.id }}">            			
			<input type="submit" class="btn btn-danger btn-middle" value="Stornieren">
		</form>				
	{% elif menu.get_slot_count > 0 and menu.is_in_time %}
			<form method="post" action="{% url action="book"%}">
    			<input type="hidden" name="eater-id" value="{{ eater.id }}">
    			<input type="hidden" name="menu-id" value="{{ menu.id }}">
				{% if menu.dish.vegetarian %}
    			<label>
      				<input type="checkbox" name="vegetarian" value="true">
					<h9>vegetarisch</h9>
    			</label>
				{% endif %}
    			<input type="submit" class="btn btn-primary btn-middle" value="Buchen">				
  			</form>
	{% elif menu.is_in_time  %}
			<form method="post" action="{% url action="request"%}">
    			<input type="hidden" name="eater-id" value="{{ eater.id }}">
    			<input type="hidden" name="menu-id" value="{{ menu.id }}">
				<input type="submit" class="btn btn-warning btn-middle" value="Anfrage">
			</form>            
            {% for requester in menu.get_requester %}
                {% if eater.id == requester.id%}
                <br>                
                <div class="alert">                    
                    <p class="text-success"><strong>Info!</strong> Anfrage wurde gesendet!<p>
                </div>
            </div>
                {% endif %}
            {% endfor %}
	{% else %}
	<h4>beendet</h4>
	{% endif %}
</div>
</div>
</div>
</div>

{% endfor %}
{% endif %}
<script>

    jQuery(function ($) {
        $("a").tooltip()
    });

</script>

</div>
{% endblock %}
