{% extends "base.html" %}

<!-- Index side of the admin interface-->
{% block body %}

<form method="post" action="{% url action="create" %}" class="well">
	<label>Account<input type="text" name="account" ></label>
	<label>Vorname<input type="text" name="forename"></textarea></label>
	<label>Name<input type="text" name="name"></label>
	<label>Mail<input type="text" name="mail"></label>
	<label>Password<input type="password" name="password"></label>
	<label>Intern <input type="checkbox" name="intern" value="true"></label>
	<input type="submit">
</form>
{% endblock %}
