<div class="col-xs-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Bearbeiten</h2>  
            </div>
            <div class="panel-body">
				<form method="post" action="{% url action="create" %}">
					<input type="hidden" name="id" value="{{ note.id | default: undefined}}">        

 				<div class="form-group">
					<label>Notiz</label>     
						<div class="controls">       
							<textarea class="form-control col-md-8" name="text" rows="4" placeholder="Urlaub" required>{{note.text | default: ''}}</textarea>
                        </div>
                </div>
 				<div class="form-group">
					<label>Von Datum</label>     
						<div class="controls">       
							<input type="text" name="fromdate" class="auto-kal" placeholder="2012-10-01" required value="{{note.from_date|default: ''}}">

                        </div>
                </div>
				<div class="form-group">
					<label>Bis Datum</label>     
						<div class="controls"> 
							<input type="text" name="todate" class="auto-kal" placeholder="2012-10-01" required value="{{note.to_date|default: ''}}">      
                        </div>
                </div>
				<div class="form-group">
					<label>Aktiv</label>     
						<div class="controls"> 
							<input type="checkbox" name="aktiv" value="true" {% if note.ativ %} checked {% endif %}>
                        </div>
                </div>
				<input type="submit" class="btn btn-primary btn-mini" value="Speichern">
			</form>
		</div>
	</div>
</div>
