{% extends "base.html" %}
{% block body %}
<div class="container-fluid-cook">
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Notes</h2>  
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                  <th>Datum</th>
                  <th>Text</th>
                  <th>Aktiv</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>			
              {% if notes %}
              {% for note in notes %}
              <tr id="{{ note.id }}">
                <td>
                  <a href="/kiezkantine/note/edit/{{ note.id }}">{{ note.created_date_as_string }}</a>
                </td>
                <td>{{ note.text }}</td>
                <td>{{ note.ativ }}</td>
    			<td>
    				<form method="post" name="Loeschung" action="{% url action="delete" id=note.id %}">
    					<input type="submit" class="btn btn-danger btn-mini" value="löschen">
    				</form>
    			</td>	
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
	{% include "note/create.html" %}
			
  
</div>
</div>
{% endblock %}
