<form method="post" action="{% url action="create" %}" class="well">
	<label>Account<input type="text" name="account" required placeholder="ha" value="{{ edit_eater.account|default : ''}}"></label>
	<label>Vorname<input type="text" name="forename" required placeholder="Horst" value="{{ edit_eater.forename|default : ''}}"></label>
	<label>Name<input type="text" name="name" required placeholder="Kater" value="{{ edit_eater.name|default : '' }}"></label>
	<label>Mail<input type="text" name="mail" placeholder="hk@email.com" pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$" required value="{{ edit_eater.mail|default : '' }}"></label>
	<input name="priceToPay" value="{{ edit_eater.price_to_pay }}"></label>
	<label>Password<input type="password" name="password" required></label>
	<label><input type="checkbox" name="intern" value="true">Intern</label>
	<label><input type="checkbox" name="admin" value="true">Admin</label>
	<label><input type="checkbox" name="verified" value="true">Freigabe</label>
	<input type="submit" class="btn btn-primary btn-mini" value="Hinzufügen">
</form>
