<form method="post" action="{% url action="create" %}" class="well">
	<label>Account<input type="text" name="account" required></label>
	<label>Vorname<input type="text" name="forename" required></textarea></label>
	<label>Name<input type="text" name="name" required></label>
	<label>Mail<input type="text" name="mail" placeholder="hm@email.com" pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$" required></label>
	<input type="hidden" name="priceToPay"></label>
	<label>Password<input type="password" name="password" required></label>
	<label><input type="checkbox" name="intern" value="true">Intern</label>
	<label><input type="checkbox" name="admin" value="true">Admin</label>
	<label><input type="checkbox" name="verified" value="true">Freigabe</label>
	<input type="submit" class="btn btn-primary btn-mini" value="Hinzufügen">
</form>
