{% extends "base.html" %}

{% block body %}
<div class="row">
	<div class="span8">
		<div class="well">
	<table class="table">
		<thead>
			<tr>
				<th>Account</th>
				<th>Vorname</th>
				<th>Name</th>
				<th>Mail</th>
				<th>Kosten je Essen</th>
				<th>Admin</th>
			</tr>	
		</thead>
{% if eaters %}
<tbody>
{% for eater in eaters %}
<tr>
  <td>{{ eater.account }}</td>
  <td>{{ eater.forename }}</td>
  <td>{{ eater.name }}</td>
  <td>{{ eater.mail }}</td>
  <td>{{ eater.price_to_pay }}</td>
  <td>{{ eater.admin }}</td>
  <td>
    <form method="post" name="Baerbeitung" action="{% url action="edit" id=eater.id %}">
      <input type="submit" class="btn btn-primary" value="bearbeiten">	
    </form>
 </td>
  <td>
    <form method="post" name="Loeschung" action="{% url action="delete" id=eater.id %}">
      <input type="submit" class="btn btn-danger" value="löschen">
    </form>
  </td>
</tr>
{% endfor %}
</tbody>
{% endif%}
</table>
</div>
</div>
	<div class="span4">
		{% if errors %}
		<ol>
		{% for error in errors %}
		<li><font color=red>{{ error }}</font>
		{% endfor %}
		</ol>
		{% endif %}
		
	{% include "eater/create.html" %}
  </div>
</div>	
{% endblock %}