{% extends "base.html" %}
{% block body %}
<div class="container-fluid-cook">
  <div class="row">
    <div class="col-lg-8 col-md-12">
		<div class="panel panel-primary">
        	<div class="panel-heading">
          		<h2 class="panel-title">Esser</h2>  
        	</div>
        	<div class="panel-body">
				<table class="table" id="table_id">
					<thead>
						<tr>
							<th>Account</th>
							<th>DisplayName</th>
							<!--th>Mail</th-->
							<th class="hidden-sm hidden-xs">Intern</th>
							<th class="hidden-sm hidden-xs">Admin</th>
							<th class="hidden-sm hidden-xs">Freigabe</th>				
						</tr>	
					</thead>
					{% if eaters %}
					<tbody>
						{% for eater in eaters %}
						<tr>
							<td>
								<a href="{{_base_url}}/eater/edit/{{ eater.id }}">{{ eater.account }}</a>
							</td>
							<td>{{ eater.display_name }}</td>						
							<!--td><a href="mailto:{{ eater.mail }}">{{ eater.mail }}</a></td-->
							<td class="hidden-sm hidden-xs">{{ eater.intern }}</td>
							<td class="hidden-sm hidden-xs">{{ eater.admin }}</td>
							<td class="hidden-sm hidden-xs">{{ eater.verified }}</td>
							<!--td>
								<form method="post" name="Loeschung" action="{% url action="delete" id=eater.id %}">
									<input type="submit" class="btn btn-danger btn-mini" value="löschen">
								</form>
							</td-->
						</tr>
						{% endfor %}
					</tbody>
					{% endif%}
				</table>
				<form method="post" action="{% url action="import" %}">
						<input type="submit" class="btn btn-danger btn-mini" value="Ldap import">
				</form>					

			</div>
		</div>
	</div>			
{% include "eater/create.html" %}
</div>			
</div>
</div>
{% endblock %}